extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.sticky-top
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.d-flex.justify-content-center
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
            span.sr-only
        li.nav-item
            a.nav-link(href='/tree') Tree
        li.nav-item
            a.nav-link(href='/about') About
  p.webtitle.text-center.pt-1
    | Informasi Pohon
  .container.border
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Apel
        img.w-100.pt-1(src='images/apel.jpg', alt='')
        |  Sumber gambar: 
        a(href='http://www.lpmdinamika.co/wp-content/uploads/2015/02/10965752_765017016907478_1752078601_n2.jpg')  google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Ordo
            td :Rosales
          tr
            td Famili
            td :Rosaceae
          tr
            td Genus
            td :Pyrus
          tr
            td Spesies
            td
              p
                | :
                i Pyrus malus
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Tinggi pohon apel antara 3 hingga 12 meter.
          li
            | Baik ditanam pada ketinggian lokasi 700-1500 mdpl dengan suhu udara sekitar 16-27 derajat Celcius.
          li
            | Beriklim kering atau memiliki curah hujan tahunan 1000-2500 mm dengan penyinaran matahari 50-60% per hari, dan kelembaban udara 75-85%.
          li
            | Dapat tumbuh di beberapa jenis tanah, yaitu Regosol (Entisol), Andosol (Andisol), dan Latosol (Inceptisol). Karakter tanah yang ideal adalah tekstur sedang, konsistensi gembur, kedalaman efektif &gt;50 cm, drainase baik, dan pH tanah 5.5-7.
          li
            | Curah hujan yang tinggi dapat menggagalkan pembuahan saat musim bunga berlangsung.
          li
            | Luas untuk 1 pohon apel sekitar 9 m^2, dengan jarak antar 1 bibit pohon apel ke bibit pohon apel lainnya ialah 298 cm atau 2.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Penanaman dapat dilakukan pada awal musim hujan.
          li
            | Siapkan lubang dengan ukuran yang dianjurkan adalah panjang, lebar, dan kedalaman masing-masing 60 cm.
          li
            | Masukkan tanah galian yang berwarna lebih gelap dan gembur dicampur 20 kg pupuk kandang dan 0.5 kg dolomit atau fosfat alam jika tanah berpH kurang dari 5.5.
          li Diamkan selama minimal 2 minggu.
          li
            | Masukkan bibit pohon apel, atur akarnya agar menyebar ke segala arah, timbun akar dengan tanah sampai setinggi leher akar sembari dipadatkan agar berdiri tegak dan tidak mudah roboh.
          li Pasang ajir, ikat secara longgar.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Belimbing
        img.w-100.pt-1(src='images/belimbing.jpg', alt='')
        | Sumber gambar: 
        a(href='https://scontent-lga3-1.cdninstagram.com/vp/8a3f991ae9e994f49a609a8498a3ddb4/5D99FF5A/t51.2885-15/e35/47069228_362001087944821_6882313242005113271_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Graniales
          tr
            td Famili
            td :Oxalidaceae
          tr
            td Genus
            td :Averrhoa
          tr
            td Spesies
            td
              p
                | :
                i Averrhoa carambola
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Tinggi pohon belimbing antara 6 hingga 9 meter.
          li
            | Pada dasarnya belimbing dapat tumbuh pada semua jenis tanah, baik tanah pasir, pasir berlempung, lempung, maupun lempung pasir.
          li
            | Tumbuh optimal pada tanah lempung dengan curah hujan sedang, yaitu 1500-2500 mm/tahun.
          li pH tanah 5.5-6.
          li
            | Luas untuk 1 pohon belimbing sekitar 25 m^2, dengan jarak antar 1 bibit pohon belimbing ke bibit pohon belimbing lainnya ialah 498.5 cm atau 4.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Penanaman dilakukan dengan menyiapkan lubang berukuran 0.5-0.7 m.
          li
            | Tanah galian bagian atas (setengah dari dalam lubang) dipisahkan dengan tanah bagian bawah. Biarkan lubang tanam selama 1-2 minggu.
          li
            | Berikutnya tanah galian yang telah dicampur dengan pupuk kandang 10 kg dan NPK sebanyak 0.25 kg. Timbun lubang tanam hingga membentuk permukaan yang cembung di tengah dengan memasukkan tanah galian bagian bawah terlebih dahulu, kemudian masukkan tanah campurannya.
          li
            | Selanjutnya ialah memasukkan bibit belimbing dan menimbun area sekitar batang bibit.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Buah Naga
        img.w-100.pt-1(src='images/buahnaga.jpg', alt='')
        | Sumber gambar: 
        a(href='http://3.bp.blogspot.com/-Pr-5ey0qo28/VNrnYuQ3ebI/AAAAAAAAa3I/YU4lyOIRaPU/s1600/1.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Divisi
            td :Spermatophyta
          tr
            td Subdivisi
            td :Angiospermae
          tr
            td Kelas
            td :Dicotyledonae
          tr
            td Ordo
            td :Cactales
          tr
            td Famili
            td :Cactaceae
          tr
            td Subfamili
            td :Hylocereanea
          tr
            td Genus
            td :Hylocereus
          tr
            td Spesies
            td
              p
                | :
                i Hylocereus
                |  sp.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li
            | Pohon buah naga ditanam pada ketinggian 0-2750 mdpl, ketinggian optimum dalam penanamannya ialah 0-800 mdpl.
          li Suhu udara terbaik 20-35 derajat C.
          li Curah hujan 340-3000 mm/tahun.
          li Kelembaban udara relatif antara 70-95%.
          li Menghendaki struktur remah, porositas tinggi.
          li Tahan terhadap salinitas tinggi, cocok  ditanam di daerah pantai.
          li pH idealnya 7.
          li
            | Luas untuk 1 pohon buah naga sekitar 4 m^2, dengan jarak antar 1 bibit pohon buah naga ke bibit pohon buah naga lainnya ialah 195 cm atau 1.95 m untuk ukuran diameter bibit sebesar 5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Penanaman dilakukan dengan menyiapkan lubang berukuran 60-80 cm x 60-80 cm dengan kedalaman 25-30 cm.
          li
            | Buat lubang kecil pada bagian tengah lubang tanam sebesar 10x10 cm dengan kedalaman 15 cm. Lubang ini untuk menanam tiang panjatan dari pohon buah naga yang terbuat dari beton cor yang dilengkapi dengan besi dan ban bekas.
          li
            | Kemudian campurkan 10 kg pasir dengan tanah galian untuk menambah porositas tanah. Tambahkan pupuk kompos atau pupuk kandang sebanyak 10-20 kg. Tambahkan juga dolomit atau kapur pertanian sebanyak 300 gram karena buah naga memerlukan banyak kalsium.
          li
            | Setelah 2-3 hari, berikan pupuk TSP sebanyak 25 gram. Pupuk diberikan melingkari tiang panjat dengan jarak sekitar 10 cm dari tiang. Biarkan selama kurang lebih 1 hari. Kini lubang tanam siap ditanami.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Cermai
        img.w-100.pt-1(src='images/cermai.jpg', alt='')
        | Sumber gambar: 
        a(href='https://samudrabibit.com/wp-content/uploads/2018/08/Pusat-Distributor-Grosir-Eceran-Jual-Bibit-Cermai-Langka-online-murah-di-kota-kabupaten-1.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Divisi
            td :Spermatophyta
          tr
            td Subdivisi
            td :Angiospermae
          tr
            td Kelas
            td :Dicotyledonae
          tr
            td Ordo
            td :Euphorbiales
          tr
            td Famili
            td :Euphorbiaceae
          tr
            td Genus
            td :Phyllanthus
          tr
            td Spesies
            td
              p
                | :
                i Phyllanthus acidus
                |  (L). Skeels
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li
            | Tinggi pohon cermai dapat melebihi 10 m dan banyak ditemui di daerah dengan ketinggian 1000 mdpl.
          li
            | Baik ditanam di dataran rendah dengan curah hujan yang tinggi dan bersuhu 30-35 derajat C.
          li
            | Kawasan pertanaman harus memiliki sistem pengairan yang baik dan cahaya matahari yang cukup untuk memastikan pohon berbunga dan berbuah.
          li
            | Luas untuk 1 pohon cermai sekitar 25 m^2, dengan jarak antar 1 bibit pohon cermai ke bibit pohon cermai lainnya ialah 498.5 cm atau 4.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Penanaman dilakukan dengan menyiapkan lubang berukuran 30 x 30 x 30 cm dan diamkan beberapa hari. Kemudian masukkan pupuk organik sebanyak 5-10 kg.
          li Setelah didiamkan beberapa hari, tanam bibit cermai, timbun lubang dengan tanah.
          li
            | Lakukan penyiraman dengan air secukupnya. Pada masa awal, penyiraman dilakukan setiap hari agar tanaman tidak mati karena kekurangan air, terutama untuk daerah yang relatif gersang.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Delima
        img.w-100.pt-1(src='images/delima.jpg', alt='')
        | Sumber gambar: 
        a(href='http://3.bp.blogspot.com/-PXvqKHVFd0s/VPsWx2bOWBI/AAAAAAAAAh4/5LfLx-WXaUI/s1600/agen%2Bobat%2Bherbal.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Myrtales
          tr
            td Famili
            td :Punicaceae
          tr
            td Genus
            td :Punica
          tr
            td Spesies
            td
              p
                | :
                i Punica granatum
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon delima adalah pohon yang berukuran kecil dengan tinggi mencapai 5-8 m.
          li
            | Pohon delima merupakan pohon subtropis yang dapat bertahan hidup pada suhu musim dingin yang rendah (-10 derajat C).
          li
            | Membutuhkan pengairan yang baik pada lingkungan yang kering, agar dapat tetap berbuah dengan baik.
          li
            | Toleran terhadap tanah berkapur dan tanah basa. Baik ditanam di tanah gembur yang tidak terendam air, dengan air tanah yang tidak dalam.
          li
            | Pohon delima tumbuh dengan baik di daerah dengan ketinggian sampai 1600 mdpl, pada berbagai tipe tanah dengan kisaran yang luas.
          li
            | Luas untuk 1 pohon delima sekitar 25 m^2, dengan jarak antar 1 bibit pohon delima ke bibit pohon delima lainnya ialah 498.5 cm atau 4.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Penanaman dilakukan dengan menyiapkan lubang berukuran 30 x 30 x 30 cm dan diamkan beberapa saat sebelum dilakukan pemupukan. Kemudian masukkan pupuk kandang sebanyak 5-10 kg.
          li Selanjutnya tanam bibit delima yang sehat dengan ketinggian 60-70 cm.
          li Lakukan penyiraman hingga cukup basah.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Durian
        img.w-100.hpt-1(src='images/durian.jpg', alt='')
        | Sumber gambar: 
        a(href='http://4.bp.blogspot.com/-vDV-OQ2sP10/VIuwoNMqzJI/AAAAAAAAB6A/TBqPHoR_REY/s1600/Buah%2BDurian.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Dilleniidae
          tr
            td Ordo
            td :Malvales
          tr
            td Famili
            td :Bombacaceae
          tr
            td Genus
            td :Durio
          tr
            td Spesies
            td
              p
                | :
                i Durio zibethinus
                |  Murr
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon durian dapat mencapai ketinggian 40 m.
          li
            | Tumbuh baik pada daerah tropis basah dengan curah hujan lebih dari 2000 mm/tahun dan tersebar merata sepanjang tahun (lama bulan basah 9-10 bulan).
          li Musim kering lebih dari 3 bulan akan mengganggu pematangan buah durian.
          li Ketinggian ideal antara 100-500 mdpl.
          li Membutuhkan pH tanah 5-7 dengan pH optimum 6-6.5.
          li
            | Pohon durian menghendaki tanah dengan drainase yang baik karena akar durian peka terhadap rendaman air.
          li
            | Cocok ditanam pada daerah dengan suhu rata-rata 20-30 derajat C. Pada suhu 15 derajat C, pohon durian dapat tumbuh, tetapi pertumbuhannya tidak optimal.
          li
            | Luas untuk 1 pohon durian sekitar 100 m^2, dengan jarak antar 1 bibit pohon durian ke bibit pohon durian lainnya ialah 998 cm atau 9.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Penanaman dilakukan dengan menyiapkan lubang berukuran 80 x 80 x 70 cm atau 70 x 70 x 60 cm dan diamkan selama 2-4 minggu.
          li
            | Tanah galian bagian atas kurang lebih 20 cm dicampur dengan pupuk kompos/kandang sebanyak 30 kg, kemudian biarkan selama 2-3 minggu.
          li
            | Masukkan bibit pohon durian ke lubang tanam, lalu tutup lubang tanam dengan tanah lapisan atas dan lapisan bawah kemudian dipadatkan dan diratakan.
          li
            | Tanah di sekitar bibit sebaiknya ditutupi dengan jerami kering agar kelembaban tanah tetap stabil.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Duwet
        img.w-100.pt-1(src='images/duwet.jpg', alt='')
        | Sumber gambar: 
        a(href='https://cdn.idntimes.com/content-images/post/20170418/manfaat-buah-juwet-atau-jamblang-untuk-obat-alami-kencing-manis-2e72a6dc8433865de2eb3a3e597acce5.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida, Dicotyledonae
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Myrtales
          tr
            td Famili
            td :Myrtaceae
          tr
            td Genus
            td :Eugenia
          tr
            td Spesies
            td
              p
                | :
                i Eugenia cumini
                |  Merr, 
                i Syzygium cumini
                |  (L.) Skeels
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon duwet kokoh dan memiliki tinggi 10-20 m.
          li
            | Dapat tumbuh dengan baik di daerah tropis dengan ketinggian 600-1800 mdpl. Berkembang dengan baik di wilayah yang curah hujannya di atas 1000 mm/tahun dengan musim kering yang tegas.
          li
            | Pohon duwet tumbuh di tepian sungai dan dapat bertahan pada genangan yang berkepanjangan. Tumbuh subur di lahan basah dan rendah, di lahan yang lebih tinggi dengan sisem pengairan yang baik (tanah liat, campuran tanah liat dan kapur, tanah berpasir, tanah berkapur).
          li
            | Luas untuk 1 pohon duwet sekitar 64 m^2, dengan jarak antar 1 bibit pohon duwet ke bibit pohon duwet lainnya ialah 798.5 cm atau 7.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Siapkan lubang berukuran 50 x 50 x 50 cm yang telah diberi pupuk kandang sebanyak 20 kg, dilakukan 2 minggu sebelum melakukan penanaman bibit.
          li Setelah 2 minggu, tanamkan bibit pohon duwet dengan baik.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Jambu Air 
        img.w-100.pt-1(src='images/jambuair.jpg', alt='')
        | Sumber gambar: 
        a(href='https://cdn.utakatikotak.com/20161024/20161024_081953jambuair.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Kormophyta
          tr
            td Superdivisi
            td :Kormophyta biji
          tr
            td Divisi
            td :Spermatophyta
          tr
            td Subdivisi
            td :Angiospermae
          tr
            td Kelas
            td :Dycotyledoneae
          tr
            td Ordo
            td :Myrtales
          tr
            td Famili
            td :Myrtaceae
          tr
            td Genus
            td :Syzygium
          tr
            td Spesies
            td
              p
                | :
                i Eugenia aquea
                |  Burm. F, 
                i Syzgium samarangense
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon jambu air umumnya memiliki tinggi 3-10 m.
          li Dapat ditanam di daerah dengan ketinggian hingga 1000 mdpl.
          li
            | Curah hujannya rendah, sekitar 500-3000 mm/tahun dengan musim kemarau lebih dari 4 bulan.
          li Intensitas cahaya matahari yang ideal adalah 40-80%.
          li Suhu yang cocok untuk pertumbuhannya adalah 18-28 derajat C.
          li Kelembaban udara antara 50-80%.
          li
            | Cocok ditanam di tanah subur, gembur, dan tanah yang banyak mengandung bahan organik dengan pH antara 5.5-7.5.
          li
            | Luas untuk 1 pohon sekitar 64 m^2, dengan jarak antar 1 bibit pohon jambu air ke bibit pohon jambu air lainnya ialah 798.5 cm atau 7.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Buat lubang dengan ukuran 60 x 60 x 60 cm.
          li Bibit pohon jambu air yang baik setidaknya pada usia stek 2 sampai 3 bulan.
          li
            | Tanam bibit pada musim penghujan dengan cara memasukkan bibit ke dalam lubang yang telah disiapkan, kemudian tutup lubang dengan tanah yang telah dicampur dengan pupuk kandang atau pupuk kompos.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Jambu Biji 
        img.w-100.pt-1(src='images/jambubiji.jpg', alt='')
        | Sumber gambar: 
        a(href='http://4.bp.blogspot.com/-sL3jTkEeHno/VDNa-6Hh-XI/AAAAAAAAAKs/_SkZ94IS1jA/s1600/manfaat%2Bjambu%2Bbiji%2Bkesehatan%2Bibu%2Bhamil.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Divisi
            td :Spermatophyta
          tr
            td Subdivisi
            td :Angiospermae
          tr
            td Kelas
            td :Dicotyledonae
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Myrtales
          tr
            td Famili
            td :Myrtaceae
          tr
            td Genus
            td :Psidium
          tr
            td Spesies
            td
              p
                | :
                i Psidium guajava
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li
            | Pohon jambu biji merupakan tanaman daerah tropis, dapat tumbuh di daerah subtropis dengan intensitas curah hujan berkisar 1000-2000 mm/tahun dan merata sepanjang tahun.
          li Berkembang dan berbuah dengan optimal pada suhu 23-28 derajat C di siang hari.
          li
            | Pohon jambu biji dapat tumbuh dengan baik pada lahan yang subur dan gembur serta banyak mengandung nitrogen, bahan organik atau pada tanah liat dan sedikit pasir.
          li
            | Membutuhkan pH antara 4.5-8.2, apabila pH tanah kurang dari besar pH tersebut, maka diperlukan pengapuran tanah.
          li
            | Luas untuk 1 pohon jambu biji sekitar 36 m^2, dengan jarak antar 1 bibit pohon jambu biji ke bibit pohon jambu biji lainnya ialah 598.5 cm atau 5.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Siapkan lubang dengan ukuran 1 x 1 x 1 m. Pada dasar lubang diberikan kapur sebanyak 0.5 liter untuk mengondisikan pH mencapai 4.5-8.2.
          li Setelah sebulan dari pemberian kapur, beri pupuk kandang sebanyak 10 kg.
          li
            | Kemudian tanam bibit pohon jambu biji, timbun dengan tanah hingga tertutup, sedikit menggunung di sekitar batang bibit.
          li Setelah itu lakukan penyiraman secukupnya.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Jeruk 
        img.w-100.h-25.pt-1(src='images/jeruk.jpg', alt='')
        | Sumber gambar: 
        a(href='https://1.bp.blogspot.com/-SQ3Z98nKmVM/URoL50T7dtI/AAAAAAAAAJ0/iR904zdq-fQ/w1200-h630-p-k-no-nu/buah+jeruk2.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Sapindales
          tr
            td Famili
            td :Rutaceae
          tr
            td Genus
            td :Citrus
          tr
            td Spesies
            td
              p
                | :
                i Citrus
                |  sp.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li
            | Pohon jeruk merupakan pohon yang agak rindang dan memiliki tinggi sekitar 5-14 meter.
          li
            | Pohon jeruk dapat tumbuh pada daerah basah dan kering pada ketinggian 100-1200 mdpl.
          li Curah hujan optimum yaitu 1000-2000 mm/tahun.
          li Penyinaran matahari 50-70%.
          li Suhu optimal 25-30 derajat C.
          li
            | Tanah yang cocok untuk pohon jeruk adalah tanah lempung sampai lempung berpasir serta subur dan gembur.
          li pH tanah 5.5-6.5.
          li
            | Luas untuk 1 pohon jeruk sekitar 36 m^2, dengan jarak antar 1 bibit pohon jeruk ke bibit pohon jeruk lainnya ialah 598.5 cm atau 5.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Siapkan lubang tanam dengan ukuran 80 x 80 x 80 cm, selama 1-2 minggu lubang dibiarkan terbuka untuk menghilangkan dan mengurangi keasaman tanah serta penyakit.
          li
            | Setelah itu tanah galian bagian bawah dimasukkan kembali ke bagian bawah, sedangkan tanah galian bagian atas, sebelum dimasukkan ke dalam lubang, dicampur dengan pupuk kandang sebanyak 10-15 kg atau kompos ditambah dengan pupuk fosfat.
          li
            | Setelah dicampur, masukkan ke dalam lubang. Beberapa hari kemudian apabila tanah timbunan agak padat, bibit pohon jeruk ditanam.
          li
            | Bibit pohon jeruk dimasukkan ke dalam lubang dan diupayakan akar tunggang dan akar lainnya tetap lurus. Tanah di sekeliling bibit pohon jeruk ditutup dengan jerami atau alang-alang.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Kelengkeng
        img.w-100.pt-1(src='images/kelengkeng.jpg', alt='')
        | Sumber gambar: 
        a(href='https://3.bp.blogspot.com/-OBUldJf2WUE/WDr2d5MPfyI/AAAAAAAAAsQ/0jZWoBoCr1MhghcMxLedIs6a9MZlrYhOQCLcB/s1600/buah-kelengkeng-pingpong.png') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Sapindales
          tr
            td Famili
            td :Sapindaceae
          tr
            td Genus
            td :Dimocarpus Lour
          tr
            td Spesies
            td
              p
                | :
                i Dimocarpus longan
                |  Lour, 
                i Nephelium longan 
                | Camb., 
                i Euphoria longan 
                | Stend.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li
            | Di Indonesia, pohon kelengkeng banyak ditanam di sekitar Temanggung dan Magelang, dan beberapa tempat di sekitar Jawa Timur (Malang).
          li Pohon kelengkeng berbatang keras dan tingginya dapat mencapai 40 m.
          li Pohon kelengkeng dilihat dari bunganya terbagi menjadi 4 jenis, yaitu:
          ul.text-justify
            li Pertama, kelengkeng jantan (hanya menghasilkan bunga jantan).
            li Kedua, kelengkeng betina (hanya menghasilkan bunga betina).
            li
              | Ketiga, kelengkeng jantan dan betina (dalam satu pohon terdapat bunga jantan dan betina).
            li
              | Keempat, kelengkeng hermaprodit (dalam satu bunga terdapat putik/betina dan serbuk sari/jantan).
          li Kelengkeng lebih cocok ditanam di dataran rendah antara 200-600 mdpl.
          li Curah hujan 1500-3000 mm/tahun dengan 9-12 bulan basah dan 2-4 bulan kering.
          li
            | Suhu siang rata-rata tidak sampai di atas 30 derajat C, penyinaran matahari yang cukup.
          li Tanah subur, gembur, dan lapisan tanah sedikit kehitaman, memiliki pH 5-6.5.
          li
            | Tanah tidak becek pada musim hujan, serta tidak kering dan retak-retak di musim kemarau.
          li Memiliki drainase yang baik, tidak menggenang tetapi cukup air.
          li
            | Luas untuk 1 pohon kelengkeng sekitar 100 m^2, dengan jarak antar 1 bibit pohon kelengkeng ke bibit pohon kelengkeng lainnya ialah 998 cm atau 9.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Siapkan lubang tanam berukuran 60 x 60 x 50 cm.
          li Beri pupuk kandang sebanyak 20kg.
          li Masukkan bibit dan timbun kembali dengan tanah.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Manggis 
        img.w-100.pt-1(src='images/manggis.jpg', alt='')
        | Sumber gambar: 
        a(href='https://4.bp.blogspot.com/-dwyra9WH9go/Woj6qDNjpmI/AAAAAAAAAJM/LYi_T9rq5cISEPdDywruoZMeRGG9Q4PTACEwYBhgL/s1600/manggis%2BGbr.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Divisi
            td :Spermatophyta
          tr
            td Subdivisi
            td :Angiospermae
          tr
            td Kelas
            td :Dicotyledoneae
          tr
            td Ordo
            td :Guttiferanales
          tr
            td Famili
            td :Guttiferae
          tr
            td Genus
            td :Garcinia
          tr
            td Spesies
            td
              p
                | :
                i Garcinia mangostana 
                | L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon manggis dapat tumbuh mencapai ketinggian sekitar 6-25 m.
          li Unggul ditanam di Bogor, Purwakarta, Tasikmalaya, dan Purworejo.
          li
            | Tumbuh baik pada wilayah yang memiliki curah hujan 1500-2500 mm/tahun dan merata sepanjang tahun.
          li Suhu udara ideal pada kisaran 22-32 derajat C.
          li Produktif pada ketinggian 5-500 mdpl.
          li
            | Dalam budidaya manggis, angin berperan dalam penyerbukan bunga untuk tumbuhnya buah. Angin yang baik tidak terlalu kencang.
          li
            | Pohon manggis baik ditanam pada tanah yang subur, gembur, banyak mengandung bahan organik.
          li pH ideal 5-7.
          li
            | Luas untuk 1 pohon manggis sekitar 100 m^2, dengan jarak antar 1 bibit pohon manggis ke bibit pohon manggis lainnya ialah 998.5 cm atau 9.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Siapkan lubang tanam berukuran 75 x 75 x 75 cm, biarkan selama 2 minggu.
          li
            | Masukkan tanah galian bagian dalam dan masukkan kembali tanah lapisan atas yang telah dicampur 20-30 kg pupuk kandang.
          li
            | Masukkan bibit ke tengah lubang tanam, timbun dengan tanah sampai batas akar dan padatkan tanah perlahan-lahan.
          li Siram sampai tanah cukup lembab.
          li Beri naungan dengan tiang bambu dan atap jerami.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Pepaya
        img.w-100.h-50.pt-1(src='images/pepaya.jpg', alt='')
        | Sumber gambar: 
        a(href='https://bagasakmalaputra.files.wordpress.com/2014/12/buah-rata1.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Dilleniidae
          tr
            td Ordo
            td :Violales
          tr
            td Famili
            td :Caricaceae
          tr
            td Genus
            td :Carica
          tr
            td Spesies
            td
              p
                | :
                i Carica papaya
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon pepaya dapat tumbuh sampai ketinggian sekitar 10 m.
          li
            | Pohon pepaya tumbuh optimal jika ditanam di daerah dengan ketinggian antara 200-500 mdpl.
          li Suhu udara berkisar 22-26 derajat C.
          li pH tanah 6-7.
          li Mendapatkan sinar matahari penuh tanpa naungan.
          li Sensitif terhadap kekurangan dan kelebihan air.
          li
            | Luas untuk 1 pohon pepaya sekitar 4 m^2, dengan jarak antar 1 bibit pohon pepaya ke bibit pohon pepaya lainnya ialah 198 cm atau 1.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Siapkan lubang berukuran 50 x 50 x 40 cm.
          li Sebelum diberi pupuk tanah harus dikeringkan selama satu minggu.
          li
            | Setelah itu tutup dengan tanah yang dicampur dengan 3 blek pupuk kandang yang telah matang.
          li
            | Pada saat menanam, tanah pada bibit yang berasal dari polybag harus tetap utuh dan tidak boleh hancur agar bibit tidak layu bahkan mati.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Pisang
        img.w-100.h-50.pt-1(src='images/pisang.jpg', alt='')
        | Sumber gambar: 
        a(href='https://2.bp.blogspot.com/-WAQGwk7jj9Q/V7Oeulh2eWI/AAAAAAAABMg/fYO5k0UdZks5D-6wYuidaEoVTFNpxAhbQCLcB/s1600/gambar-buah-pohon-pisang.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Liliopsida
          tr
            td Subkelas
            td :Commelinidae
          tr
            td Ordo
            td :Zingiberales
          tr
            td Famili
            td :Musaceae
          tr
            td Genus
            td :Musa
          tr
            td Spesies
            td
              p
                | :
                i Musa paradisiaca
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon pisang dapat tumbuh di daerah yang kekurangan air.
          li
            | Curah hujan pada kisaran 1520-3800 mm per satu kali tumbuh dengan asumsi dalam sekali masa tanam terdapat 2 bulan tidak hujan.
          li Tumbuh optimal pada tanah yang kaya unsur hara, berkapur atau tanah berat.
          li Dapat tumbuh pada dataran rendah sampai dataran tinggi.
          li Pohon pisang adalah pohon yang mudah untuk dibudidayakan.
          li
            | Luas untuk 1 pohon pisang sekitar 9 m^2, dengan jarak antar 1 bibit pohon pisang ke bibit pohon pisang lainnya ialah 295 cm atau 2.95 m untuk ukuran diameter bibit sebesar 5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Siapkan lubang penanaman berukuran 50 x 50 x 50 cm.
          li Beri pupuk organik berupa pupuk kandang atau kompos sebanyak 15-20 kg.
          li
            | Masukkan bibit pohon pisang, kemudian timbun dengan tanah dan pupuk hingga tertutup semua bagian batang bawahnya agar akar segera tumbuh.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Rambutan
        img.w-100.h-50.pt-1(src='images/rambutan.jpg', alt='')
        | Sumber gambar: 
        a(href='https://www.nuansa.web.id/wp-content/uploads/2018/01/Cara-Mencangkok-Pohon-Rambutan-Yang-Benar-Beserta-Gambar.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Rosidae
          tr
            td Ordo
            td :Sapindales
          tr
            td Famili
            td :Sapindaceae
          tr
            td Genus
            td :Nephelium
          tr
            td Spesies
            td
              p
                | :
                i Nephelium lappaceum
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon Rambutan dapat tumbuh mencapai ketinggian 10 m.
          li Tumbuh baik di daerah dengan suhu 22-35 derajat C.
          li Curah hujan antara 1500-2500 mm/tahun.
          li Jenis tanah yang baik untuk pertumbuhannya adalah tanah liat dengan pH 5-6.5.
          li
            | Luas untuk 1 pohon rambutan sekitar 100 m^2, dengan jarak antar 1 bibit pohon rambutan ke bibit pohon rambutan lainnya ialah 998 cm atau 9.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Siapkan lubang tanam dengan ukuran 1 x 1 x 0.5 m. Sebaiknya disiapkan 3-4 pekan sebelum penanaman.
          li
            | Setelah 2 minggu, tutup kembali lubang tanam dengan susunan tanah seperti semula. Tambahkan pupuk kandang sekitar 20 kg di bagian atasnya.
          li Setelah 4 minggu, bibit pohon rambutan dapat ditanam.
          li Berikan perlindungan sampai bibit dapat beradaptasi.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Sawo
        img.w-100.pt-1(src='https://www.faunadanflora.com/wp-content/uploads/2016/11/10-Panduan-Lengkap-Cara-Budidaya-Sawo-Agar-Cepat-Berbuah.jpg', alt='')
        | Sumber gambar: 
        a(href='https://www.faunadanflora.com/wp-content/uploads/2016/11/10-Panduan-Lengkap-Cara-Budidaya-Sawo-Agar-Cepat-Berbuah.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Divisi
            td :Spermatophyta
          tr
            td Subdivisi
            td :Angiospermae
          tr
            td Kelas
            td :Dicotyledonae
          tr
            td Ordo
            td :Ebenales
          tr
            td Famili
            td :Sapotaceae
          tr
            td Genus
            td :Achras atau Manilkara
          tr
            td Spesies
            td
              p
                | :
                i Achras zapota
                |  L. sinonim dengan 
                i Manilkara achr
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon sawo dapat tumbuh mencapai ketinggian 40 m.
          li
            | Tumbuh optimal di daerah beriklim basah sampai kering. Banyak ditanam mulai dari dataran rendah sampai ketinggian 1200 mdpl, seperti di Jawa dan Madura.
          li Curah hujan yang dibutuhkan berkisar 2000-3000 mm/tahun.
          li pH yang cocok untuk perkembangan pohon sawo adalah 6-7.
          li Dapat berkembang dengan baik pada suhu antara 22-32 derajat C.
          li
            | Luas untuk 1 pohon sawo sekitar 100 m^2, dengan jarak antar 1 bibit pohon sawo ke bibit pohon sawo lainnya ialah 998 cm atau 9.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Buatlah lubang tanam dengan ukuran 60 x 60 x 60 cm dan biarkan terbuka selama 2 minggu.
          li
            | Setelah 2 minggu, masukkan tanah bagian bawah yang sudah dicampur rata dengan pupuk kandang sebanyak 20 kg ke lubang tanam. Biarkan selama 1-2 minggu sebelum ditanami.
          li
            | Lakukan penanaman sedalam leher akar tegak di tengah lubang tanam. Tanah di sekeliling akar dipadatkan agar tidak terjadi rongga udara yang dapat menyulitkan akar mencari nutrisi.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Sirsak
        img.w-100.pt-1(src='images/sirsak.jpg', alt='')
        | Sumber gambar: 
        a(href='https://i2.wp.com/sketsanews.com/wp-content/uploads/2017/06/pohon-sirsak-Sketsanews.jpg?fit=1192%2C834&ssl=1') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Magnoliidae
          tr
            td Ordo
            td :Magnoliales
          tr
            td Famili
            td :Annonaceae
          tr
            td Genus
            td :Annona
          tr
            td Spesies
            td
              p
                | :
                i Annona muricata
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon sirsak dapat tumbuh mencapai ketinggian 5-9 m.
          li
            | Sirsak merupakan jenis yang paling lemah di antara jenis-jenis Annona, bagus ditanam di daerah tropis yang hangat dan lembab.
          li Dapat tumbuh pada ketinggian hingga 1000 mdpl.
          li
            | Sistem drainase yang baik, karena pohon sirsak tidak tahan terhadap genangan air.
          li
            | Pohon sirsak akan tumbuh dengan baik di daerah beriklim basah sampai daerah beriklim kering dengan suhu 22-28 derajat C.
          li Kelembaban udara 60-80%.
          li Curah hujan berkisar 1500-2500 mm/tahun.
          li pH ideal 5.5-6.5.
          li
            | Luas untuk 1 pohon sirsak sekitar 25 m^2, dengan jarak antar 1 bibit pohon sirsak ke bibit pohon sirsak lainnya ialah 498 cm atau 4.98 m untuk ukuran diameter bibit sebesar 2 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li Siapkan lubang tanam berukuran 30 x 30 x 30 cm.
          li Masukkan pupuk kandang 10-15 kg, lalu diamkan lubang selama 2-4 minggu.
          li
            | Pilih bibit setinggi 70-100 cm, tanam dalam lubang tersebut. Tekan tanah permukaan agar tidak terjadi rongga di sekitar akar tanaman.
  .container.border.my-4
    .row
      .col-4
        h3.font-weight-bold.pt-2 Pohon Srikaya
        img.w-100.pt-1(src='images/srikaya.jpg', alt='')
        | Sumber gambar: 
        a(href='https://sehatlega.com/wp-content/uploads/2018/02/Manfaat-Srikaya.jpg') google
      .col.pt-5
        h5.font-weight-bold Klasifikasi :
        table.table.table-bordered.table-sm
          tr
            td Kingdom
            td :Plantae
          tr
            td Subkingdom
            td :Tracheobionta
          tr
            td Superdivisi
            td :Spermatophyta
          tr
            td Divisi
            td :Magnoliophyta
          tr
            td Kelas
            td :Magnoliopsida
          tr
            td Subkelas
            td :Magnoliidae
          tr
            td Ordo
            td :Magnoliales
          tr
            td Famili
            td :Annonaceae
          tr
            td Genus
            td :Annona
          tr
            td Spesies
            td
              p
                | :
                i Annona squamosa
                |  L.
      .col-5.pt-5
        h5.font-weight-bold.mx-3 Syarat Tanam :
        ul.text-justify
          li Pohon srikaya dapat tumbuh mencapai ketinggian 8 m.
          li Tumbuh di dataran rendah sampai ketinggian 1000 mdpl.
          li Suhu 20-25 derajat C.
          li
            | Tanah yang cocok adalah tanah berpasir sampai tanah lempung berpasir dengan sistem drainase yang baik.
          li pH tanah 5.5-7.4.
          li
            | Pohon srikaya menyukai iklim panas, tidak terlalu dingin atau banyak hujan. Beradaptasi baik terhadap iklim lembab dan panas. Tahan terhadap kekeringan dan akan tumbuh subur bila mendapatkan pengairan yang cukup.
          li
            | Luas untuk 1 pohon srikaya sekitar 16 m^2, dengan jarak antar 1 bibit pohon srikaya ke bibit pohon srikaya lainnya ialah 398.5 cm atau 3.985 m untuk ukuran diameter bibit sebesar 1.5 cm.
        h5.font-weight-bold.mx-3.pt-2 Cara Penanaman :
        ul.text-justify
          li
            | Siapkan lubang tanam berukuran 30 x 30 x 30 cm dan biarkan terbuka selama 2 minggu.
          li Isi lubang dengan pupuk kandang sebanyak 15 kg.
          li Tanamkan bibit pohon srikaya dan lakukan penyiraman.        
  footer.footerstyle.page-footer.font-small.special-color-dark.pt-3.mt-4
    .text-center
      | Semoga Dengan Adanya Web Application Menghitung Pohon Ini,
    .text-center
      | Pekebun Mendapatkan Banyak Manfaat dan Keuntungan
    .text-center  
      | -Faisal Yudha S-
    .footer-copyright.text-center.py-3
      | &copy; 2019 Copyright: 
      a(href='http://52416525.student.gunadarma.ac.id/') Faisal Yudha S (52416525)
